@font-face {
  font-family: AK1;
  src: url("./assets/fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
  font-family: AK0;
  src: url("./assets/fonts/AeonikTRIAL-Light.otf");
}

@font-face {
  font-family: AK2;
  src: url("./assets/fonts/AeonikTRIAL-Bold.otf");
}

a, body, button, div, footer, form, h1, h2, h3, h4, h5, header, html, img, label, li, nav, p, select, span, table, textarea, ul {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
  user-select: none;
}

$color-cursor: 255, 255, 255;
$cursor-outline-shade: 0.3;
$cursor-size: 15px;
$cursor-outline-size: 12px;
$bg: #212121;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bg;
  color: #fff;
  font-family: "AK1", sans-serif;
  cursor: default !important;
  pointer-events: auto !important;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.home {
  margin: 0 auto;
  width: 87.5vw;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: default !important;
  pointer-events: auto !important;
}

p {
  font-size: .85rem;
}

.pushed {
  &:first-letter {
    margin-left: 30px;
  }
}

$height: 70vh;
$half: -$height / 2;

.p-back, 
.p-fill {
  border-radius: 500px;
  z-index: 100;
}

.p-back {
  position: fixed;
  top: 50%;
  margin-top: $half;
  left: 2vw;
  width: .25rem;
  height: $height;
  background: rgba(255, 255, 255, 0.1);
}

.p-fill {
  max-height: $height;
  background-color: #fff;
}

nav, footer {
  background: $bg;
  z-index: 10;
  padding: 2.5vw;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

@media (min-width: 767px) {
  $h: 80vh;
  $f: -$h / 2;

  .p-back {
    height: $h;
    margin-top: $f;
    left: 2.5vw;
  }

  .p-fill {
    max-height: $h;
  }
  
  .title {
    gap: .5vw;

    svg {
      transform: scale(1.2);
    }
  }
}

@media (min-width: 1023px) {
  p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  nav, footer {
    padding: 2vw 2.5vw;
  }

  *, *:hover, html, body, a {
    cursor: none !important;
  }

  #cursor-dot,
  #cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;

  }

  #cursor-dot {
    z-index: 999;
    width: $cursor-size;
    height: $cursor-size;
    background-color: rgba(var($color-cursor), 1);
  }

  #cursor-dot-outline {
    z-index: 998;
    width: $cursor-outline-size;
    height: $cursor-outline-size;
    background-color: rgba(var($color-cursor), $cursor-outline-shade);
  }
}

@media (min-width: 1800px) {
  nav, footer {
    padding: 1vw 2vw;
  }
}